In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = sns.load_dataset('titanic')

df.info()

In [ ]:
print(df.isnull().sum())

In [ ]:
sum1=(df["survived"].isnull().sum())
sum2=(df["age"].isnull().sum())
print(sum1+sum2)

In [ ]:
print(df["survived"].isnull().sum())
print(df["age"].isnull().sum())

In [ ]:
sns.countplot(x="class",hue="pclass",data=df)
plt.title("passenger count by pclass")
plt.show()